/* -- BODY -- */
#container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
} 
header img {
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    display: block;  

}
nav {
    display: block;
    margin: auto;
    width: 70%;  
    border-top: none;
    border-left: none;
    border-right: none;
    border-style: var(0, 1px, 0, 0);
    /*border-bottom: solid .03em #E6E6E6;*/
    text-align: center;
    margin-bottom: .5em
    ;
   
}
nav ul {
    padding: .5em;
}
nav li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em;   
  
}
nav li a {
    text-decoration: none; 
    color: #4A403A;
    font-weight: lighter;

}
nav a:hover {
    color: #D4AC2B;

}
footer {
    display: block;
    text-align: center;
    padding: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    color: #4A403A;
}
footer a {
    color: #4A403A;
}
footer a:hover {
    color: #D4AC2B;

}
/* Wedding */
main {
    /*border: solid #D4AC2B;*/
    width: 100%;
    margin: auto;
}
.set1-container {
   display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;     
    padding: 0;
}
.set1-container img {
    padding: 0;
    width: 30%; 
}
.set1-names {    
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
    margin: auto;
}
.set1-names p {
   padding: 0;
  
}
.p1 {
    margin-left: 9em;
    font-size: 1em;
    
}
.p2 {
    margin-left: 17em;
}
.p3 {
    margin-left: 18em;
}

.set2-container {
    display: flex;
    max-width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;  
   padding-top: .5em;
}
.set2-container img {
    padding: 0%;    
    width: 30%;

}
.set2-names {    
    display: flex;      
    width: 60%;
    margin: auto;    
    
}
.set2-names p {
    padding: 0;
}
.p4{
    margin-left: 9em;
}
.p5 {
    margin-left:18em ;
}
.p6 {
    margin-left: 19em ;
}