/* -- BODY -- */
#container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
} 
header img {
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    display: block;  

}
nav {
    display: block;
    margin: auto;
    width: 100%;     
    text-align: center;
    margin-bottom: 0;
    padding: 0%;
   

}
nav ul {
    padding: .5em;
}
nav li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;   
  
}
nav li a {
    text-decoration: none; 
    color: #4A403A;
    font-weight: lighter;

}
nav a:hover {
    color: #D4AC2B;

}
footer {
    display: block;
    text-align: center;
    padding: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    color: #4A403A;
}
footer a {
    color: #4A403A;
}
footer a:hover {
    color: #D4AC2B;

}
/* Wedding */
main {   
    width: 100%;
    margin: auto;
}
.set1-container {
    display: flex;  
    max-width: 100%;  
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    
}
.set2-container {
    display: flex;  
    max-width: 100%;     
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

figure {
    display: block;
    text-align: center; 
    width: 25%;
    padding-bottom: 0%;
    margin: 1%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;   
  
}
figure img {
    width: 100%;
    padding-bottom: .5em;

}
table {  
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    table-layout: fixed;
    background-color:#444941;
}
th, td{
    border: solid #fff; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D4AC2B;
    width: 25%;

}th {
    padding: 1em;
    font-size: 1.3em;
    color: #444941;
}
td {
    padding: .5em;
}
.tr1 td{
    background-color: #E6E6E6;
}
.tr2 td {
    background-color: #AAAAAA;
}
.tr3 td{
    background-color: #E6E6E6;
}
.tr4 td {
    background-color: #AAAAAA;
}


.social {   
    width: 50%;
    display: block;
    
}
.social img{
    width: 100%;
    padding: 0%;

}
.ig {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin-bottom: 0%; 
    margin-bottom: 3em;

    
}
.ig img {
    width: 50%;
   
}
.fb {   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    
}
.fb img {
    width: 48%;
}
.contact {   
    width: 50%;
}
.call {
    width: 100%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    
}
.call img {
    width: 10%;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.email {
    width: 100%;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.email img {
    width: 10%;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
div.connect {    
    width: 35%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    margin-bottom: 3em;   
}
.ig img:hover {
    color: #D4AC2B;    
}
.contact p {
    font-weight: bold;
}
.social p {
    font-weight: bold;
    margin-bottom: 3em;
}

