/* -- BODY -- */
#container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
} 
header img {
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    display: block;  

}
nav {
    display: block;
    margin: auto;
    width: 100%;     
    text-align: center;
    margin-bottom: 0;
    padding: 0%;
   

}
nav ul {
    padding: .5em;
}
nav li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;   
  
}
nav li a {
    text-decoration: none; 
    color: #4A403A;
    font-weight: lighter;

}
nav a:hover {
    color: #D4AC2B;

}
footer {
    display: block;
    text-align: center;
    padding: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    color: #4A403A;
}
footer a {
    color: #4A403A;
}
footer a:hover {
    color: #D4AC2B;

}
/* Wedding */
main {   
    width: 100%;
    margin: auto;
}
.set1-container {
    display: flex;  
    max-width: 100%;  
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    
}
.set2-container {
    display: flex;  
    max-width: 100%;     
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

figure {
    display: block;
    text-align: center; 
    width: 25%;
    padding-bottom: 0%;
    margin: 1%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;   
  
}
figure img {
    width: 100%;
    padding-bottom: .5em;

}
