/* -- BODY -- */
#container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
} 
header img {
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    display: block;  
    
}
nav {
    display: block;
    margin: auto;
    width: 100%;     
    text-align: center;
    margin-bottom: 0;
    padding: 0%;
    
    
}
nav ul {
    padding: .5em;
}
nav li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;   
    
}
nav li a {
    text-decoration: none; 
    color: #4A403A;
    font-weight: lighter;
    
}
nav a:hover {
    color: #D4AC2B;
    
}
footer {
    display: block;
    text-align: center;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    color: #4A403A;  
    
}
footer a {
    color: #4A403A;
}
footer a:hover {
    color: #D4AC2B;
    
}

/* -- Slide Show --- */
@keyframes fade {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* make the images invisible by default */
.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    padding: .1em;
    background-color: #AAAAAA;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;   
    margin: .3em;
    
}
.center span{
    margin-top: 2em;
    
    
}
.enable, .dot:hover {
    background-color: #D4AC2B;
}

/* faint animation */
.fade {
    animation-name: fade;
    animation-duration: 1.4s;
}
@keyframes fade {
    from {opacity: .5;}
    to {opacity: 2;}
    
}

/* Login Credentials*/

#container-credentials {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input[type=email], input[type=password] {
    width: 96%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    width: 100%;
}

a {
    color: dodgerblue;
}

.registerbtn {
    background-color: #D4AC2B;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

.loginbtn {
    background-color: #D4AC2B;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    
}

.loginbtn:hover {
    opacity:1;
}

.container {
    padding: 0.25em;
}

.login-register {
    background-color: #f1f1f1;
    text-align: center;    
    
}
.login-register p {
    font-size: .8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: #434343;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
}

div.connect {    
    width: 35%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    margin-bottom: 3em;
    margin-top: 0%;    
}
.social {   
    width: 50%;
    
    
}
.social img{
    width: 100%;
    padding: 0%;
    
}
.ig {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin-bottom: 0%; 
    margin-bottom: 3em;
    
}
.ig img {
    width: 50%;
    
}
.fb {   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    
}
.fb img {
    width: 48%;
}
.contact {   
    width: 50%;
    
}
.call {
    width: 100%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    
}
.call img {
    width: 10%;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.email {
    width: 100%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.email img {
    width: 10%;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.ig img:hover {
    color: #D4AC2B;    
}
.contact p {
    font-weight: bold;
}
.social p {
    font-weight: bold;
    margin-bottom: 3em;
}
.social a {
    text-decoration: none;
    font-size: 1em;
}
.thumb-container {
    display: flex;  
    max-width: 100%;  
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}
figure {
    display: block;
    text-align: center; 
    width: 25%;
    padding-bottom: 0%;
    margin: 1%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;   
    
}
figure img {
    width: 100%;
    padding-bottom: .5em;
}
.hr2 {
    border: 1px solid #f1f1f1;
    width: 90%;
    margin-top: 1.5em;
}
@media only screen and (min-width: 700px) {
    .topNav {
        display: none;
    }
    
    
}
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .topNav {        
      
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
        margin-bottom: em;
    }
    .topNav ul {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 1em;
    }
    
    .topNav li {
        float: left;
        list-style-type: none;
        width: 49%;
        margin-left: 5em;
        margin-right: auto;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .7em;       
        
    }
    .topNav li a {
        color: #4A403A; 
    }
    .header img {
        width: 100%;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    .main {
        margin-top: em;

    }
    
    
}
    

