/* -- BODY -- */
#container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
} 
header img {
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    display: block;  

}
nav {
    display: block;
    margin: auto;
    width: 70%;  
    border-top: none;
    border-left: none;
    border-right: none;
    border-style: var(0, 1px, 0, 0);
    /*border-bottom: solid .03em #E6E6E6;*/
    text-align: center;
    margin-bottom: .5em
    ;
   
}
nav ul {
    padding: .5em;
}
nav li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;   
  
}
nav li a {
    text-decoration: none; 
    color: #4A403A;
    font-weight: lighter;

}
nav a:hover {
    color: #D4AC2B;

}
footer {
    display: block;
    text-align: center;
    padding: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    color: #4A403A;
}
footer a {
    color: #4A403A;
}
footer a:hover {
    color: #D4AC2B;

}

/* -- Slide Show --- */
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  margin: auto;
  position: relative;
}

.slide-container .slide {
  /*display: none;*/ /* this is supposed to be none, but slide is not working so i commented it for now */
  width: 100%;
}

.slide-container .slide .fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dfd6ce;
}
.dots-container .dot:hover {
  color: #D4AC2B;
}
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


